<div class="container-fluid">
	<div class="col-md-12 bg-primary">
		<h1>{{title}}</h1>
	</div>
<!-- Area de contenidos -->
	<div class="row">
<!-- Columna Izquierda -->
		<div class="col-md-3">
			
			<div class="col-md-12 text-center">
				<img src="http://placehold.it/100x100" class="img-circle" />
				<p>¡Hola, {{user}}!</p>
				<br />
			</div>
			
				<app-menu></app-menu>
		</div>

<!-- Contenido (Centro) -->
		<div class="col-md-7">
		    <router-outlet></router-outlet>
		</div>
	
<!-- Columna Derecha -->
	   	<div class="col-md-2">
	   		<h3>Bloque de extras</h3>
	   		<h3>Bloque de extras</h3>
	   		<h3>Bloque de extras</h3>
	   	</div>

   	</div>


   </div>