<div class="col-md-12">
	<nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs">
		<ul class="nav bs-docs-sidebar" role="navigation">
			<li>
				<a (click)="isCollapsedNews=!isCollapsedNews"><i class="fa fa-newspaper-o"></i> Noticias <span class="caret"></span></a>
				<ul [ngbCollapse]="isCollapsedNews" class="nav submenu" id="notiSub">
					<li><a routerLink="/noticias">Leer noticias  <span class="badge">{{notpend}}</span></a></li>
					<li><a href="#">Publicar noticia</a></li>
				</ul>
			</li>
			<li><a (click)="isCollapsedDocs=!isCollapsedDocs"><i class="fa fa-archive"></i> Documentaci&oacute;n <span class="caret"></span></a>
				<ul [ngbCollapse]="isCollapsedDocs" class="nav submenu" id="notiSub">
					<li><a routerLink="/noticias">Procedimientos</a></li>
					<li><a href="#">Registros</a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-gears"></i> Operaciones</a></li>
			<li><a href="#"><i class="fa fa-search"></i> SGI</a></li>
		</ul>
	</nav>
</div>